
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}


.w3_navigation {
    background-color:  #7d7df6 ;
    color: #fff;
    padding: 10px 0;
}
@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}
/* The marquee animation */
h4 {
  white-space: nowrap;
  overflow: hidden;
  animation: marquee 20s linear infinite;
}

@keyframes colorChange {
  0% {
    color: red;
  }
  25% {
    color: blue;
  }
  50% {
    color: green;
  }
  75% {
    color: orange;
  }
}
 /*This anim,ation applies to heading*/
h1 {
  color: red; 
  animation: colorChange 2s infinite;
}

@keyframes colorChange {
  0% {
    color: red;
  }
  25% {
    color: blue;
  }
  50% {
    color: green;
  }
  75% {
    color: orange;
  }
}


